.movie {
  width: 300px;
  height: 500px;
}

.movie_list {
  width: 100%;
  text-align: center;
}

.list {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.list a {
  text-decoration: none;
  color: #000000;
}

.list label:hover {
  cursor: pointer;
}
